body {
    max-width: 1440px;
    width: 100%;
    min-height: auto;
    margin: auto;
    padding: 10px;
    background-color: rgb(248, 248, 236);
}


/* ===== HEADER ====== */

.header-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

.header-logo__desktop /* (h2) */{
    font-family: 'Baloo 2', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.25px;
    text-align: left;
    margin-left: 20px;
}

.header-nav__item {
    color: rgb(0, 0, 0);
    margin-left: 10px;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-decoration: none;
}

.header-nav__item:hover {
    background-color: rgb(252, 224, 224, 0.6);
    border-radius: 20px;
    cursor: pointer;
}

/* ===== DROP-DOWN MENU  ====== */

.dropdown__list {
    background-color: rgb(248, 248, 236);
    min-width: 200px;
    padding: 10px;
    display: none;
}

.dropdown__btn {
    background-color: rgb(248, 248, 236); 
    padding: none;
    font-size: 18px;
    border: none;
    cursor: pointer;
    display: none;
}

.fa-bars {
    color: black;
    float: right;
}

.dropdown__item {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    min-width: auto;
    padding: 15px;
    text-decoration: none;
    display: block;
}

/* ---- dropdown: hover ----- */
.fa-bars:hover {
    color: rgb(252, 224, 224);
}

.dropdown__item:hover {
    background-color: rgb(252, 224, 224, 0.6);
    border: none;
    border-radius: 10px;
}

.dropdown__list:hover { 
    display: inline-block;
}

.dropdown__item:hover { 
    display: inline-block;
}


/* ===== MAIN CONTENT ====== */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    margin: auto;
    padding: 10px;
}

h1 { 
    font-family: 'Poppins', sans-serif;
    font-size: 75px;
    font-weight: 500;
    line-height: 102px;
    letter-spacing: -2px;
    text-align: center;
    margin-bottom: 0;
}

p { 
    font-family: 'Source Sans 3', sans-serif;
    font-size: 23px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0px;
    padding-bottom: 40px;
    padding-top: 20px;
    text-align: center;
}

.container-p {
    max-width: 50%;
    margin: auto;
}

.img-container {
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img-food {
    max-height: 275px;    
    margin: 10px;
}

/* ====== MEDIA QUERYS - START ====== */

/* COMMENT: In assignment 12 I couldn't get the mobile-menu to pop up unless I forced
            the screen to shrink. But in this assignment I realized that my screen 
            stops shrinking when it comes to a 700px width for some reason... which is why I put 
            max-width 768px for this media query.*/

@media screen and (max-width: 768px) { /* TABLET SCREEN */
    
    /* --- @media: main --- */
  
    h1 {
        font-size: 52px;
    }
    .img-container {
        flex-direction: column;
    }

    
    /* --- @media: nav --- */

    .header-nav__item { 
        display: none;}
        
    .dropdown__btn { 
        display: flex;
        position: relative;
    }
    .fa-bars {
        color: black;
        float: right;
        display: block;
    }
    .dropdown__list {
        display: inline-block;
        position: absolute;
    }
    .dropdown__item {
        color:rgb(0, 0, 0);
        display: block;
    }
}

/* QUESTION: After googling like a crazy person around the www for an answer to create a clickable dropdown menu without java script, 
             I found a few ways to do it with only html and css. However I felt like it was a bit too advanced, too much of not knowing
             and too much of just re-writing code that I hadn't learned yet. Not great. 
             So, my aim was to create a hamburger menu that was hoverable. 
             I tried using @media (hover: hover), but maybe I missunderstood the purpose..? 
             I had a look at your styles too and asked a classmate, but I can not get the dropdown menu to drop down when the hamburger icon is hoverd. 
             What am I doing wrong?
             I'm giving up and are hoping this will be easier once I learn Java script. 


/* Mobile screen */
@media screen and (max-width: 479px) {
    h1 {
        font-size: 36px;
    }
}


/* ====== MEDIA QUERYS - END ====== */